#banner {
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
    background-color: peachpuff;
    border: thin black;
}

#sidebar {
    position: absolute;
    margin-right: 20%;
    border: thin black;
}

#maintext {
    position: absolute;
    margin-left: 25%;
    margin-right: 25%;
}